<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="Formato" value="1" />
		<add key="SmtpUser" value="checador@urglobal.com" />
		<add key="SmtpPassword" value="%gRk@)^SI#;=?4z" />
		<add key="SmtpHost" value="smtp-hve.office365.com" />
		<add key="SmtpPort" value="587" />		
		<add key="ClientSettingsProvider.ServiceUri" value="" />
		<add key="ActivaBitacora" value="SI" />
		<add key="ActivaBitacoraError" value="SI" />
		<add key="Bitacora" value="LogsSendMailChecador.txt" />
		<add key="BitacoraE" value="ErrorLogsSendMailChecador.txt" />
		<add key="LogsPath" value="C:\sistemas\LogsASMXService" />
		<add key="IntervalMinutes" value="5" />
		<!-- 1 = SI, 0 = NO -->
		<add key="EnviaFoto" value="1" />		
	</appSettings>
	<connectionStrings>
		<!--<add name="ConnectionString" connectionString="Data Source=SRV20ENTORNO\SQLENTORNO;Initial Catalog=DB_CHECADOR;Persist Security Info=True;User ID=dev_user;Password=V*040319813991op" providerName="System.Data.SqlClient" />-->
		<add name="ConnectionString" connectionString="Data Source=LPENTORNO165\SQLEXPRESS2019;Initial Catalog=DB_CHECADOR;Persist Security Info=True;User ID=sa;Password=Arena2auto" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>